<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="detail-section pt-5">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-5">
        <img src="{{ product.imageUrl }}" alt="product.imageUrl" class="detail-img">
      </div>
      <div class="col-md-7" style="padding-bottom: 20px;">
        <h3>{{ product.name }} <button class="btn btn-lg" type="button"><i class="fa fa-heart fa-beat"></i></button></h3>
        <div class="rating">
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </div>
          <span class="review-no">41 reviews</span>
        </div>

        <div class="text"> 
          <span class="text">In stock.</span>
        </div>

        <div class="price">{{ product.unitPrice | currency: "TND":"symbol" }}</div>
        <div style="text-decoration: line-through;" >{{ product.oldPrice | currency: "TND":"symbol" }}</div>  
      
        <button (click)="addToCart()" class="btn btn-sm">Add to cart</button>

        <hr class="m-0 p-0">

        <h3>Description </h3>
        <p>{{ product.description }}</p>
        <p>{{ product.unitsInStock }} units of the product are left.</p>
        <a routerLink="/products" class="mt-5" >Back to Product list</a>
      </div>
    </div>
   

  </div>
</div>

