   <!-- HEADER DESKTOP-->
   <nav class="navbar fixed-top navbar-expand-lg"  style="background-color: #545163;">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo2.png" height="200px" width="200px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" >
          <a class="nav-link"  style="color: #D4CDC9; font-family : Poppins;" routerLink="/products">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: #D4CDC9; font-family : Poppins;" routerLink="/cart-details">Cart</a>
        </li>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle"  style="color: #D4CDC9; font-family : Poppins;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
            <app-product-category-menu></app-product-category-menu>
          
          </div>
        </li>
      

        <li class="nav-item mr-4">
          <app-cart-status></app-cart-status>
        </li> 

      </ul>
      <form class="form-inline my-2 my-lg-0">

       <app-search></app-search>

      </form>
    </div>
  </nav> 
  <!-- END HEADER DESKTOP-->
 




 <!-- PAGE CONTAINER-->
<div class="container-fluid">
    

  
     <router-outlet></router-outlet>

      <!-- END MAIN CONTENT-->
</div>

<!-- END PAGE CONTAINER-->
<footer class="text-center text-lg-start  text-muted ml-0 "   >
  <div class ="" style="background-color: #6D6576; ">
  <!-- Section: Social media -->
 
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <br>
  <section class="" style="color: white;" >
    <div class="container text-center text-md-start mt-4 ml-0">
      <!-- Grid row -->
      <div class="row mt-3"> 
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          
          <p>
            <img src="assets/images/logo2.png" height="200px" width="200px" alt="">
            Throwing away food is Throwing away money 
           
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"style="color: white;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"style="color: white;">
            <div class="me-5 d-none d-lg-block" style="color: white;">
              <span>Get connected with us on social networks:</span>
            </div>
          </h6>
          <p>
            <a href="" class="me-8 text-reset" >
              <i class="fab fa-facebook-f" ></i>
            </a>
          </p>
          <p>
            <a href="" class="me-8 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
          </p>
          <p>
            <a href="" class="me-8 text-reset">
              <i class="fab fa-google"></i>
            </a>
          </p>
          <p>
            <a href="" class="me-8 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </p>
          <p>
          <a href="" class="me-8 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4" >
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"style="color: white;">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Technopark ElGhazela, Arianna, Tunisie</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            groupe-ecommerce@indp2A.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 216 54 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 216 71 567 89</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4"style="color: white;">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"style="color: white;">
            Useful links
          </h6>
          <p>
            <a href="#!" routerLink="/products" class="text-reset">Home</a>
          </p>
          <p>
            <a href="#!" routerLink="/cart-details" class="text-reset">Cart</a>
          </p>
          
          <div>
           
          <p>
            <app-search></app-search>
          </p>
        </div>
          
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#!">-presented MoneySaver, Inc. All rights reserved.</a>
  </div>
  <!-- Copyright -->
</div>
</footer>
