
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
ul {
    list-style-type: none;
    margin-left: 37%;
    padding: 1%
}

.rating {
    margin-left: 20%
    
}

.page {
    background-color: #dfe6e0;
    padding: 2%;
    margin: auto
}

a{
    color:#6D6576;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}


.fa {
    color: #e6c71a;
   margin: 3px;
}

.card-img-top {
    width: 90%;
    height: 225px
}

.view {
     
      
    padding: 0px;
    margin-bottom: 20px
}

.card {
    width: 90%;
    padding: 5px;
    margin-left: 2%;
    
    
}


.card-footer {
    background-color: #cf1e6b38;
    font-weight: 700;
    border : 2px solid #cf1e6b38;
    border-radius: 50px 20px;

    
}

.price {
    color:#d134d1;
    font-weight: 600;
    font-size: larger;
}

.text{
    color: #6D6576;
    color : #545163;
    color:#6D6576 ;
    color: #A57E8F;
    color :#CBB5AC;
    color :#D4CDC9;



}

.card-body {
    background-color:#6d65763f;
    
}

.slick-slider {  
    width: 100%;  
    margin: auto;  
  }